.hero-section {
  background-image: url('path-to-your-image.jpg');
  background-size: cover;
  color: white;
}

.about-section,
.projects-section,
.services-section,
.testimonials-section,
.contact-section {
  padding: 60px 0;
}



/* #logoImg{
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
} */

.card {
  margin-bottom: 30px;
}
